@charset "utf-8";
/*layout_01.css*/

#wrap{
  width:600px; height:auto; min-height:500px;
  margin:auto;
}
/*#header==========*/
#header:after,#header::after{content:" "; display:block; clear:both;}
#header{
  padding:10px;
 /* width:calc(100% - 20px); */ height:auto;
  background-color:#f07; 
  box-sizing:border-box;
}

h1{
  float:left; 
  width:120px; height:100px;
  background-color:#ccc;
}
h1 a{
  display:block; width:100%; height:100%;
  font-size:1rem;}

.navigation{
  float:right; 
  width:400px; height:100px;
}
.navigation > ul {
  width:100%; height:100%; list-style:none;
  margin:0; padding:0;
  
}
.navigation ul li{
  float:left; width:60px; height:100%;
  margin-right: 8px;
  background-color:#fac; 
}

.navigation ul li:nth-child(2n){
  background-color:#0ac;
}

.navigation ul li:last-child {
  margin-right:0;
}

.navigation a {
  display:block; width:100%; height:100%;
}
/*#section==========*/

#section{width:100%; height:300px;
  }

.hidden{
  width:0; height:0; overflow:hidden;
}
.clearfix::after, .clearfix:after{content:" "; display:block; clear:both;}
 #section>div {
   float:left; height:300px;
  } 
  /* common.css:공통의 class이름을 부여하여, 
  반복 사용하는형태를 이름으로 기입함으로 인하여, 
  빠르고 쉽게 웹페이지를 구성하도록 처리하는 기능*/

  .sect_01{ 
  width:40%; background-color:#329664; 
}
  .sect_02{ 
  width:60%; background-color:#555555; 
}

#aside:after,#aside::after{content:" ";display:block; clear:both;}
#aside{width:auto; height:300px;}
#aside h2{
  width:0; height:0; margin:0;overflow:hidden
}
  #aside > div{float:left; width:33.333333%; height:300px;}
  .side_01{
          background-color:#ADAADD;}
  .side_02{
          width:33.333334%;
          background-color:#607259;}
  .side_03{
          background-color:#ad6fdd;}



#article{width:auto; height:300px;}

/*art_base_01 .art_01은 띄어쓰기로 인해 art_base_01의 자손이 된다 띄어쓰기 안 함*/
  .art_base_01{float:left; width:70%;height:150px;}

  .art_base_01.art_01{
          width:30%; height:300px;
          background-color:#27294D;}
  .art_base_01.art_02{
          width:70%; height:150px;
          background-color:#ff7259;}
  .art_base_01.art_03{
            width:70%; height:150px;
            background-color:#ad6fdd;}


#content{width:100%; height:450px;}

.cont_base_01{float:left; width:70%;}
#content .art_02{
   height:150px;
  background-color:#ff7259;}
#content .art_03{
   height:300px;
  background-color:#ad6fdd}
#content .art_01{
                 width:30%; height:450px;
                 background-color:#27294D; margin-top:-150px;}


          

  
/*#footer==========*/
#footer{
  width:100%; height:100px;
  background-color:#03f;
}
