@charset "utf-8";

/*ir_is.css*/

/* design.css*/
#wrap{
  width: 900px; height: auto;
  min-height: 1000px; margin: auto; margin-bottom: 500px;
  background-color: #ddd;
}

h1{
  width: 100%; height: 30px; font-size: 1.5rem; background-color: #fa0;
}
h2{
  margin-bottom: 1rem;
}
.part{
  width:90%; height: auto; 
  padding: 2rem; 
  box-sizing: border-box; 
  border:1px solid #333;
}

.part ul{
  width:100%; height: auto; 
  margin: 0; padding: 0; 
  list-style: none;
}

.part .ir li{
  width:100px; height:100px;
  margin-bottom: 1rem;
  background-color: #0af;
}

.ir a{ 
  display:block; 
  width: 100%;height: 100%;
  border-radius: 100%;
  background-color: #fff; 
}

.ir li:nth-child(1) a{
  display:none;
}
.ir li:nth-child(2) span{
  display:none;
}
/*1,2잘 안 씀*/

.ir li:nth-child(3) a { 
  font-size: 0;
}/*단점: !important, js를 통해 inline style설정으로 보여질 수 있음*/

.ir li:nth-child(4) a{
  text-indent:-9990px;/*text indent: 첫 줄 들여쓰기*/
}/*첫 줄 들여쓰기: 현재 가장 많이 사용하는 기법
  단점:브라우저가 커지고 있으므로 현 시점에서는 다소 아쉬운 부분이 있다.*/

.ir li:nth-child(5) span{
  display:block; 
  width: 0; height: 0; 
  overflow:hidden;
  position: absolute; z-index: -1;
}/*다양한 기법을 섞어쓰기 쉬운 기법
  -css를 제거하지 않으면 볼 수 없는 단점
  -요소를 중첩해서 사용해야하는 불편함  이 있다
  하지만 이 기법이 가장 안전하므로 이것을 쓴다.*/

.ir li a {
  background-image: url("../../img/bg_exam/cherry.png"
  );
  background-repeat: no-repeat; background-position: 50% 50%; background-size: contain;
}


/*
IR기법이란, 글씨를 숨기고, 이미지로 그 형태를 대처하여 사용하게 만드는 기법
1.단순 글씨의 일부를 숨기는 방법
2.이미지를 사용하고, 글씨를 숨기는 방법
3.아이콘으로 대처하는 방법
4.단, IR기법은 내용을 읽어주는 것을 기본 조건으로 본다.
  dispaly:none형식은 읽을 수 없으며, 존재를 지워주는 형태로 인식함으로 사용X
*/

.hidden_text{
  position:relative; z-index: -1; 
}
/*-------------------------------------------------------*/
.clearfix:after,.clearfix::after{content:" "; display:block; clear:both;}
.is{width:100%; height:800px; background-color: #fcc;}
.is li{width:113px; height:97px; background-color: #fc5; float:left;}
.is {width:100%; height:auto; padding:10px; box-sizing: border-box; background-color: #777;}
.is li{width:102px; height: 107px; margin: 5px;background-color: #fc5;float:left;}
.is a{display:block; width:100%; height:100%;}
.is button{
  display:block; width: 100%;height: 100%;
  border:0; background-color: transparent; cursor: pointer;
}
.is li:nth-child(n+1):nth-child(-n+5),
.is li>a,
.is li>button
{background-image: url("../../img/bg_exam/7a2bda18455e472dfd7743e7ae408df7.jpg");
background-repeat: no-repeat;}

.is li span{display:block; width:0; height:0; overflow:hidden;}
.is li:nth-child(1){background-position: 0 0;}
.is li:nth-child(2){background-position: -236px 0;}
.is li:nth-child(3){background-position: 0 -122px;}
.is li:nth-child(4){background-position: -236px -226px;}
.is li:nth-child(5){background-position: -226px -457px;}
.is li:nth-child(6)> a {background-position: -123px -457px;}
.is li:nth-child(7)> a {background-position: -349px -457px;}
.is li:nth-child(8)> a {background-position: -452px -569px;}
.is li:nth-child(9)> button {background-position: -462px -457px;}
.is li:nth-child(10)> button {background-position: -801px -346px;}


.clearfix:after,.clearfix::after{content:" "; display:block; clear:both;}
.part_01{width:100%; height:800px; background-color: #ddd; }
.is_01 li{width:79px; height:80px; background-color: #777; float:left; 
  list-style: none; padding:10px;}
.is_01 {width:100%; height:auto; padding:10px;box-sizing: border-box;}
.is_01 a{display:block; width:100%; height:100%;}

.is_01 li > a{background-image: url("../../img/bg_exam/ikonate2.png");background-repeat: no-repeat;}
.is_01 li > a:hover{background-image: url("../../img/bg_exam/ikonate2_black.png");background-repeat: no-repeat;
transition:200ms;}

.is_01 li span{display:block; width: 0; height: 0; overflow:hidden;}
.is_01 li:nth-child(1)> a{background-position: -267px -10px;}
.is_01 li:nth-child(2)> a{background-position: -476px -10px;}
.is_01 li:nth-child(3)> a{background-position: -684px -10px;}
.is_01 li:nth-child(4)> a{background-position: -372px -324px;}
.is_01 li:nth-child(5)> a{background-position: -580px -428px;}
.is_01 li:nth-child(6)> a {background-position: -684px -428px;}
.is_01 li:nth-child(7)> a {background-position: -996px -428px;}

.is_01 li:nth-child(1)> a:hover{background-position: -267px -10px;}
.is_01 li:nth-child(2)> a:hover{background-position: -476px -10p;}
.is_01 li:nth-child(3)> a:hover{background-position: -684px -10px;}
.is_01 li:nth-child(4)> a:hover{background-position: -372px -324px;}
.is_01 li:nth-child(5)> a:hover{background-position: -580px -428px;}
.is_01 li:nth-child(6)> a:hover{background-position: -684px -428px;}
.is_01 li:nth-child(7)> a:hover{background-position: -996px -428px;}